.highlight-container {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    margin: 20px 0px;
    padding: 20px 50px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.highlight-box {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    cursor: pointer;

    opacity: 0;
    transform: translateY(30px) scale(0.96);
    transition: all 0.6s ease;
}

.highlight-box:hover {
    opacity: 70%;
    background-image: linear-gradient(to left top, #2f544b, #3f6259, #4f7168, #5f8077, #6f8f86);
    color: white;
    border-radius: 32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

.highlight-box.active {
    animation: fadeUpSoft 0.8s cubic-bezier(.22, .61, .36, 1) forwards;
}




.highlight-box button {
    border: 1px solid #9fbcb4b5;
    border-radius: 99px;
    background-color: #9fbcb4b5;
    color: var(--primary);
    font-size: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight-box h4 {
    width: 100%;
    margin: 0px;
    text-align: center;
}

.highlight-box p {
    padding: 0px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}



/* =======================
CTA
======================= */
.cta-container {
    /* border: 1px solid blue; */
    width: 100%;
    height: 50vh;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-container .cta-box {
    width: 80%;
    height: 100%;
    border-radius: 16px;
    padding: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left top, #2f544b, #3f6259, #4f7168, #5f8077, #6f8f86);
}

.cta-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    /* border: 1px solid red; */
}

.cta-left button {
    width: fit-content;
    background: #6f8f86;
    color: white;
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: var(--shadow-primary);
    cursor: pointer;
}

.cta-left h3 {
    font-size: 32px;
    color: white;
    margin: 0px;
}

.cta-left p {
    width: 100%;
    text-align: center;
    padding: 0px 20px;
    font-size: 13px;
    color: var(--text-light);
}

.cta-btn {
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.cta-btn .primary-btn {
    border-radius: 8px;
    border: 1px solid var(--accent-clay);
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    background-color: var(--accent-clay);
}

.cta-btn .primary-btn:hover {
    background: var(--accent-burnt);
}

.cta-btn .sub-btn {
    width: fit-content;
    background: #6f8f86;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 8px;
    border: 1px solid #6f8f86;
    box-shadow: var(--shadow-primary);
    cursor: pointer;
}

.cta-btn .sub-btn:hover {
    background: var(--primary);
}


.cta-right img {
    width: 300px;
    height: 200px;
}


/* =======================
FOOTER
======================= */
.footer {
    background: #f5f7fb;
    border-top: 1px solid #e5e7eb;
    padding: 20px 60px;
    margin-top: 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT */
.footer-left p {
    font-size: 13px;
    color: #6b7280;
    margin-top: 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary);
}

.logo-box {
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background: #e0e7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #4f46e5;
}

/* RIGHT */
.footer-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social {
    display: flex;
    gap: 12px;
}

.icon {
    font-size: 18px;
    color: #6b7280;
    cursor: pointer;
    transition: 0.2s;
}

.icon:hover {
    color: #4f46e5;
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    font-size: 14px;
    color: #6b7280;
    text-decoration: none;
    transition: 0.2s;
}

.links a:hover {
    color: #4f46e5;
}


/* =======================
 MEDIA QUERY 
======================= */
@media (max-width:900px) {
    .highlight-container {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        /* border: 1px solid red; */
        height: 100%;
    }

    .highlight-box {
        /* ANIMATION */
        opacity: 0;
        transform: translateY(30px) scale(0.96);
        transition: all 0.6s ease;
    }

    .highlight-box.active {
        animation: fadeUpSoft 0.8s cubic-bezier(.22, .61, .36, 1) forwards;
    }

    /* stagger animation */
    .highlight-box:nth-child(1) {
        animation-delay: 0.1s;
    }

    .highlight-box:nth-child(2) {
        animation-delay: 0.2s;
    }

    .highlight-box:nth-child(3) {
        animation-delay: 0.3s;
    }

    .highlight-box:nth-child(4) {
        animation-delay: 0.4s;
    }

    /* =======================
    CTA
    ======================= */
    .cta-container .cta-box {
        width: 100%;
    }

    .cta-left h3 {
        width: 100%;
        font-size: 28px;
        /* border: 1px solid red; */
        text-align: center;
    }
}

@media (max-width:650px) {
    .highlight-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .highlight-box {
        width: 100%;
        border-radius: 16px;
        padding: 15px;
        height: 25vh;

        /* ANIMATION */
        opacity: 0;
        transform: translateY(30px) scale(0.96);
        transition: all 0.6s ease;
        /* animation: fadeUp 0.6s ease forwards; */
    }

    .highlight-box.active {
        animation: fadeUpSoft 0.8s cubic-bezier(.22, .61, .36, 1) forwards;

    }

    /* stagger animation */
    .highlight-box:nth-child(1) {
        animation-delay: 0.1s;
    }

    .highlight-box:nth-child(2) {
        animation-delay: 0.2s;
    }

    .highlight-box:nth-child(3) {
        animation-delay: 0.3s;
    }

    .highlight-box:nth-child(4) {
        animation-delay: 0.4s;
    }

    /* =======================
    CTA
    ======================= */
    .cta-container {
        height: 100%;
        padding-bottom: 20px;
    }

    .cta-container .cta-box {
        width: 100%;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cta-left h3 {
        width: 100%;
        font-size: 32px;
        text-align: center;
    }

    .cta-right img {
        height: 150px;
        width: 200px;
    }

    /* =======================
    FOOTER
    ======================= */
    .footer {
        /* border: 1px solid red; */
        margin-top: 30px;
        height: 100%;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        /* border: 1px solid red; */

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px 0px;
    }

    .footer-right {
        gap: 10px;
    }

    .icon {
        font-size: 25px;
    }

}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px) scale(0.96);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}